.appLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  .tabMenu {
    flex: 0 0 50px;
  }
  .eventWrap {
    display: flex;
    flex: 1 1 auto;
    .eventSequence {
      flex: 0 0 300px;
    }
    .eventDetail {
      flex: 1 1 auto;
    }
  }
}
.tabMenu {
  background-color: #f5f5f5;
}
.tabController {
}
.eventWrap {
  background-color: #f5f5f5;
}
.eventSequence {
  background-color: #f5f5f5;
}
.eventDetail {
  background-color: #f5f5f5;
}
